<%= form_for(experience) do |f| %>
  <% if experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :empresa %>
    <%= f.text_field :empresa %>
  </div>

  <div class="field">
    <%= f.label :cargo %>
    <%= f.text_field :cargo %>
  </div>

  <div class="field">
    <%= f.label :admissao %>
    <%= f.date_select :admissao %>
  </div>

  <div class="field">
    <%= f.label :saida %>
    <%= f.date_select :saida %>
  </div>

  <div class="field">
    <%= f.label :cpf_candidato %>
    <%= f.text_field :cpf_candidato %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
