<!DOCTYPE html>
<html>
    <title>Synergia | Sistema de Gerenciamento de Currículos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'candidatos/menu/mainMenu.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'report/report.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
