<div class="main-menu">    
  <div class="left-menu">
    <div id="button-4">
      <img id="img-button-1" src="/img/menu-principal.png">
      <%= link_to 'Menu Principal', candidatos_path, id:"menu-principal" %>
    </div>
  </div>
  <div class="right-menu">
    <div id="nav-candidatos">
    <% if current_user.tipoUser == 'admin'%>
          <p id="label-candidatos">Relatório de Candidatos</p>
        
          <%= form_tag("show", method: :get, id:"form-search") do %>
          <%= label :nome, "Documento", id:"cpf-label" %>
          <%= text_field_tag :cpf_term,nil, placeholder:"Informe o CPF" %>

          <%= label :nome, "Nome", id:"name-label" %>
          <%= text_field_tag :name_term,nil, placeholder:"Informe o Nome" %>

          <%= label :nome, "Cidade", id:"city-label" %>
          <%= text_field_tag :city_term,nil, placeholder:"Informe a Cidade" %>
          <%= submit_tag 'Procurar', id:"search-button" %> <% end %>     
    <% else %>
        <p id="label-candidatos">Meu Currículo</p>
    <% end %>
    </div>
    <table id="table-candidatos">
      <thead>
        <tr>
          <th>CPF</th>
          <th>Nome</th>
          <th colspan="3">Ações</th>
        </tr>
      </thead>
    
      <tbody>
          <tr>
          <% @candidato.each do |candidato| %>
            <td><%= candidato.cpf %></td>
            <td><%= candidato.nome %></td>
            <td><%= link_to 'Editar', edit_candidato_path(candidato) %></td>
            <td><%= link_to 'Deletar', candidato, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
            <td><%= link_to 'Visualizar PDF' %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
