<!DOCTYPE html>
<html>
  <head>
    <title>Synergia | Sistema de Gerenciamento de Currículos</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'candidatos/menu/mainMenu.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'formations/formations.css', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="navbar">
      <div id="navbar-left">
        <img id="nav-logo" src="/img/topo-logo-synergia.png">
      </div>
      <div id="navbar-middle">
        <div id="nav-title">Sistema de Gerenciamento de Currículos</div>
      </div>
      <div id="navbar-right">
        <div id="nav-user"><%= current_user.email%> | <%= link_to "Sair", destroy_user_session_path, method: :delete%></div>
      </div>
    </div>
    <div class="middle-bar"></div>
    <%= yield %>
  </body>
</html>
