<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @formation.tipo %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @formation.curso %>
</p>

<p>
  <strong>Instituicao:</strong>
  <%= @formation.instituicao %>
</p>

<p>
  <strong>Data inicio:</strong>
  <%= @formation.data_inicio %>
</p>

<p>
  <strong>Data final:</strong>
  <%= @formation.data_final %>
</p>

<p>
  <strong>Cpf candidato:</strong>
  <%= @formation.cpf_candidato %>
</p>

<%= link_to 'Edit', edit_formation_path(@formation) %> |
<%= link_to 'Back', formations_path %>
