<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<p><%= current_user.email%></p>
<p><%= current_user.cpf%></p>
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :instituicao %>
    <%= f.text_field :instituicao %>
  </div>

  <div class="field">
    <%= f.label :inicio %>
    <%= f.date_select :inicio %>
  </div>

  <div class="field">
    <%= f.label :final %>
    <%= f.date_select :final %>
  </div>

  <div class="field">
    <%= f.label :cpf_candidato %>
    <%= f.text_field :cpf_candidato %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
