  <div class="main-menu">    
    <div class="left-menu">
      <div id="button-4">
        <img id="img-button-1" src="/img/menu-principal.png">
        <%= link_to 'Menu Principal', candidatos_path, id:"menu-principal" %>
      </div>
    </div>
    <div class="right-menu">
      <%= form_for(candidato) do |f| %>
        <% if candidato.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(candidato.errors.count, "error") %> prohibited this candidato from being saved:</h2>
      
            <ul>
            <% candidato.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div id="dados-cadastrais">
          <p id="dados-cadastrais-label">Dados Cadastrais</p>

            <%= f.label :cpf, "CPF", id:"cpf-label" %>
            <%= f.text_field :cpf, id:"field-cpf", placeholder:current_user.cpf, disabled:true%>
            <%= f.hidden_field :cpf, :value => current_user.cpf%>

            <%= f.label :nome, "Nome Completo", id:"nome-label" %>
            <%= f.text_field :nome, id:"field-nome", placeholder:"Digite seu nome" %>
            <%= f.label :data_nasc, "Data de Nascimento", id:"data-nascimento-label" %>
            <%= f.date_field :data_nasc, id:"field-date", placeholder:"Ex.: dd/mm/aaaa" %>


            <p id="email-label">E-mail</p>
            <input name="email" type="email" id="field-email" placeholder="Digite seu email">
        </div>

        <div id="endereco">
          <p id="endereco-label">Endereço</p>

          <%= f.label :logradouro, "Logradouro", id:"logradouro-label" %>
          <%= f.text_field :logradouro, id:"field-logradouro", placeholder:"Digite seu endereço" %>

          <%= f.label :numero, "Número", id:"number-label" %>
          <%= f.text_field :numero, id:"field-numero", placeholder:"Digite o número" %>

          <%= f.label :bairro, "Bairro", id:"bairro-label" %>
          <%= f.text_field :bairro, id:"field-bairro", placeholder:"Digite seu bairro" %>

          <%= f.label :cidade, "Cidade", id:"cidade-label" %>
          <%= f.text_field :cidade, id:"field-cidade", placeholder:"Digite sua cidade" %>

          <%= f.label :uf, "UF", id:"estado-label" %>
          <%= f.select :uf, ['AC','AL','AP','AM','BA','CE','DF','ES','GO','MA','MT','MS','MG','PA','PB','PR','PE','PI','RJ','RN','RS','RO','RR','SC','SP','SE','TO'], id:"field-estado", placeholder:"Selecione seu estado" %>

          <%= f.label :cep, "CEP", id:"cep-label" %>
          <%= f.text_field :cep, id:"field-cep", placeholder:"Ex.: 00000-000" %>

          <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>

        <div id="bottom-bar">
            
            <div id="previous-page">
            </div>

            <div id="progress-bar">
              <div id="dados-cadastrais-progress"></div>
              <div id="dados-cadastrais-progress-label">Dados Cadastrais</div>
              <div id="middle-1"></div>
              <div id="formacoes-progress"></div>
              <div id="formacoes-progress-label">Formações</div>
              <div id="middle-2"></div>
              <div id="experiencias-progress"></div>
              <div id="experiencias-progress-label">Experiências</div>
              <div id="middle-3"></div>
              <div id="cursos-extra-progress"></div>
              <div id="cursos-extra-progress-label">Outros Cursos</div>
              <div id="middle-4"></div>
              <div id="finalizacao-progress"></div>
              <div id="finalizacao-progress-label">Finalização</div>
            </div>

            <div id="next-page">
              <div id="next-page-button">
                <%= f.submit "Formações", id:"next-page-button-link" %>
              </div>
            </div>
            
        </div>
      <% end %>
    </div>
  </div>
