<p id="notice"><%= notice %></p>

<p>
  <strong>Cpf:</strong>
  <%= @candidato.CPF %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @candidato.Nome %>
</p>

<%= link_to 'Edit', edit_candidato_path(@candidato) %> |
<%= link_to 'Back', candidatos_path %>
