<% @user %>
<% @candidato %>
<% @course %>
<% @formation %>
<% @experience %>


<style>
body {
    font: 14px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    height: 100%;
    height: 100%;
}

.img img {
    background-image: url("../curriculo/assets/logo_synergia_tpf.svg");
    width: 150px;
    height: 80px;
    top: 1200px;
    left: 85%;
    position: relative;
    opacity: 0.5;
}

h1,
h2 {
    font-family: Georgia;
    color: rgb(51, 74, 86);
}

.people {
    background-color: rgb(242, 242, 242);
    width: 500px;
    height: 300px;
    top: -20px;
    left: 120px;
    position: absolute;
}

.bar {
    background-color: rgb(51, 74, 86);
    width: 500px;
    height: 20px;
    top: 130px;
    left: 0px;
    position: absolute;
}

.bar1{
    background-color: rgb(51, 74, 86);
    width: 100%;
    height: 5px;
    top: 540px;
    left: 0px;
    position: absolute;
}
.bar2 {
    background-color: rgb(51, 74, 86);
    width: 100%;
    height: 5px;
    top: 740px;
    left: 0px;
    position: absolute;
}

.bar3 {
    background-color: rgb(51, 74, 86);
    width: 100%;
    height: 5px;
    top: 940px;
    left: 0px;
    position: absolute;
}
}
.info_people {
    background-color: rgb(242, 242, 242);
    text-align: left;
    font-weight: normal;
}

h1 {
    text-align: center;
    margin: 80px auto;
}

.secao {
    padding-left: 15px;
    position: absolute;
    top: 10px;
    left: 700px;
}

.secao1 {
    padding-left: 15px;
    position: absolute;
    top: 500px;
}

.secao2 {
    padding-left: 15px;
    position: absolute;
    top: 700px;
}

.secao3 {
  padding-left: 15px;
  position: absolute;
  top: 900px;
}

#btnImprimir {
  left: 50%;
  top:1100px;
  position: absolute;
  transform: translateX(-50%);
  font-size:16px;
  height:30px;
  width:300px;
  color:white;
  background-color:#DDA100;
  overflow: auto;
}


</style>
<div id="pdf">
<body>
<div class="bar1"></div>
<div class="bar2"></div>
<div class="bar3"></div>

        <div class="img">
                <img src="/img/rodapé.jpg">
        </div>
        
    <div class="people">
        <div class="bar"></div>
        <h1><%= @candidato.nome %></h1>
        <div class="info_people">
            <h2><%= @formation.curso %></h2>
        </div>
    </div>

    <div class="secao">
        <h2>Dados Pessoais</h2>
            <th>
                <ul>
                    <p>Endereço:<%= @candidato.logradouro %>, <%= @candidato.numero %></p>
										<p><%= @candidato.cidade %> - <%= @candidato.uf %> - CEP: <%= @candidato.cep %></p>
                </ul>
                <ul>
                    <%# <p>E-mail: <%= @user.email%>  
                </ul>
            </th>
        
            </div>
        </div>
    </div>

    <div class="secao1">
        <h2>Escolaridade</h2>

			<p align="left"><b>Tipo de Formação:</b> <%= @formation.tipo %></p>
      <p align="left"><b>Instituição:</b> <%= @formation.instituicao %></p>
      <p align="left"><b>Curso:</b> <%= @formation.curso %></p>
      <p align="left"><b>Início:</b> <%= @formation.data_inicio.year %>/<%= @formation.data_inicio.month %></p>
      <p align="left"><b>Conclusão:</b> <%= @formation.data_final.year %>/<%= @formation.data_final.month %></p>

    </div>
    
    <div class="secao2">
        <h2>Experiência Profissional</h2>

			<p align="left"><b>Empresa:</b> <%= @experience.empresa %></p>
      <p align="left"><b>Último Cargo:</b> <%= @experience.cargo %></p>
      <p align="left"><b>Adimissão:</b> <%= @experience.admissao.year %>/<%= @experience.admissao.month %></p>
      <p align="left"><b>Desligamento:</b> <%= @experience.saida.year %>/<%= @experience.saida.month %></p>
			
    </div>

		<div class="secao3">
        <h2>Outros Cursos</h2>
			<p align="left"><b>Instituição:</b> <%= @courses.instituicao %></p>
      <p align="left"><b>Curso:</b> <%= @courses.nome %></p>
      <p align="left"><b>Início:</b> <%= @courses.inicio.year %>/<%= @courses.inicio.month %></p>
      <p align="left"><b>Conclusão:</b> <%= @courses.final.year %>/<%= @courses.final.month %></p>
   </div>

</body>
  <br>
  <br>
  <p>
    <input type="button" value="Confirmar Dados e Gerar PDF" id="btnImprimir"  onclick="GerarPDF()" />
  </p>
</div>
</div>
<%= javascript_include_tag 'general/pdf.js' %>