<%= render "basicForm" %>
<div id="background-menu">
  <div id="menu-items">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      
      <%= render "devise/shared/error_messages", resource: resource %>

      <img id="logo-1" src="/img/topo-logo-synergia.png">
      <img id="logo-2" src="/img/rodape-logo-tpf.png">
      
      <p id="title-user">Cadastro de Usuário</p>

      <div class="field">
        <%= f.label :email, "Email", class:"ipt-label" %><br/>
        <%= f.email_field :email, autofocus: true, class:"ipt-text", autocomplete: "email", placeholder: "Digite seu email" %>
      </div>

      <div class="field">
        <%= f.label :password, "Informe uma senha", class:"ipt-label" %><br/>
        <%= f.password_field :password, class:"ipt-text", autocomplete: "new-password", placeholder:"Digite uma senha" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirme a senha informada", class:"ipt-label" %><br/>
        <%= f.password_field :password_confirmation, class:"ipt-text", autocomplete: "new-password", placeholder: "Repita sua senha" %>
      </div>

      <%= f.submit "Cadastrar Usuário", :id=>"btn-signup" %>
      
      <%= render "users/shared/links" %> 
    <% end %>
  </div>
</div>
